body {
    height: 100vh;
    display: flex;
    align-items: baseline;
    padding: 100px;

    background-color: lightgray;
}

div {
    width: 30px;
    margin: 1px;

    background-color: black;
    -webkit-box-reflect: below 1px linear-gradient(transparent 30%, rgba(255, 255, 255, 0.7));
}